.patient-page {
  padding: 10px 15px;
}

.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.patient-header h2 {
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.add-patient-btn {
  background: #0383c7;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  cursor: pointer;
  /* margin-top: 20px; */
  font-size: 14px;
}

.patient-table-container {
  background: #fdfdfd;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.patient-table {
  width: 100%;
  border-radius: 20px;
  border-collapse: collapse;
}

.patient-table thead {
  background: white;
}

.patient-table th {
  padding: 16px;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: #444;
}

.patient-table td {
  padding: 15px 16px;
  border-top: 1px solid #ececec;
  font-size: 13px;
  color: #555;
}

.status-active {
  color: #2e7d32;
  font-weight: 500;
}

.action-icons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.view {
  color: #0383c7;
  cursor: pointer;
}

.edit {
  color: #0383c7;
  cursor: pointer;
}

.delete {
  color: #ff4d4f;
  cursor: pointer;
}

.patient-table tbody tr:hover {
  background: #fafafa;
}
.patient-table-wrapper{
    background-color: white;
    margin-top: -30px;
}
.edit-icon{
    margin-right: 10px;
    color: #0383C7;
}
.delete-icon{
    color:rgb(255, 255, 255) !important;
}
/* ==========================
   UPDATE VISIT MODAL
========================== */

.visit-modal-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999;

  /* Dark Blue Blur Theme */
  background: rgba(87, 87, 87, 0.25) !important;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.visit-modal {
  width: 340px;

  background: #ffffff;

  border-radius: 15px;

  padding: 18px;

  position: relative;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);

  animation: visitPopup 0.25s ease;
}
.visit-modal input{
  width:100%;
  height:38px;

  border:1.5px solid #9FD8EF;
  border-radius:20px;

  padding:0 14px;

  outline:none;

  background:#EAF8FF;

  font-size:12px;
  color:#374856;

  transition:.25s ease;
}

.visit-modal input::placeholder{
  color:#8FA2AD;
}

.visit-modal input:focus{
  border-color:#0383C7;
  background:#F4FCFF;
  box-shadow:0 0 0 3px rgba(3,131,199,.12);
}

@keyframes visitPopup {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.visit-modal h3 {
  text-align: center;

  font-size: 15px;
  font-weight: 600;

  color: #333;

  margin-bottom: 15px;
}

.visit-modal label {
  display: block;

  font-size: 11px;
  color: #666;

  margin-bottom: 5px;
}

.visit-modal input {
  width: 100%;
  height: 38px;

  border: 1.5px solid #8bc7e6;
  border-radius: 20px;

  padding: 0 14px;

  outline: none;
}

.visit-modal input:focus {
  border-color: #0383c7;
}

.visit-update-btn {
  width: 100%;
  height: 38px;

  margin-top: 14px;

  border: none;
  border-radius: 20px;

  background: #0383c7;

  color: white;
  font-size: 12px;
  font-weight: 600;

  cursor: pointer;
}

.visit-close-btn {
  position: absolute;

  top: 10px;
  right: 10px;

  width: 24px;
  height: 24px;

  border: none;
  border-radius: 50%;

  background: #0383c7;
  color: white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* ==========================
   DARK THEME WHEN MODAL OPEN
========================== */

/* .modal-active .sidebar {
  background: linear-gradient(
    to bottom,
    #0b2740,
    #123a59,
    #0b2740
  ) !important;

  transition: 0.3s ease;
} */

/* .modal-active .navbar {
  background: #D9D9D9 !important;
  transition: 0.3s ease;
} */

/* .modal-active .main-content {
  background: #173d5c;
  transition: 0.3s ease;
} */

/* .modal-active .menu a {
  color: white !important;
} */

/* .modal-active .menu a.active {
  background: rgba(255, 255, 255, 0.15) !important;
}

.modal-active .admin-profile h5,
.modal-active .admin-profile p {
  color: white !important;
} */

/* .modal-active .search-box {
  background: #37485696 !important;
} */

/* .modal-active .search-box svg {
  color: white !important;
}

.modal-active .search-box input {
  color: white !important;
}

.modal-active .logout-btn {
  background: white !important;
  color: #0b2740 !important;
  font-weight: 600;
} */

/* Add Patient Button Dark Blue */

.modal-active .patient-btn {
  /* background: #0b2740 !important; */
  color: white !important;
  border: 1px solid rgba(255,255,255,0.2);
}

.modal-active .search-box input::placeholder {
  color: rgba(255,255,255,0.7) !important;
}

.modal-active .patient-table-wrapper {
  opacity: 0.6;
}

.modal-active h2 {
  color: white !important;
}
.patient-title{
  color:#222;
  margin-top:-25px;
}

.modal-active .patient-title{
  color:white !important;
}

/* ==========================
   DELETE MODAL
========================== */

.delete-modal {
  width: 330px;
  background: #fff;

  border-radius: 16px;

  padding: 20px;

  position: relative;

  text-align: center;

  animation: visitPopup 0.25s ease;
}

.delete-icon-circle {
  width: 60px;
  height: 60px;

  margin: 0 auto 12px;

  border-radius: 50%;

  background: #ff4d4f !important;
  color: white !important;

  font-size: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #222;
}

.delete-modal p {
  font-size: 12px;
  color: #666;
  margin-bottom: 18px;
}

.delete-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.delete-cancel-btn {
  width: 90px;
  height: 36px;

  border: 1px solid #cfcfcf;
  border-radius: 20px;

  background: white;
  cursor: pointer;
}

.delete-confirm-btn {
  width: 90px;
  height: 36px;

  border: none;
  border-radius: 20px;

  background: #0383c7;
  color: white;

  cursor: pointer;
}

.patient-row {
  cursor: pointer;
  transition: 0.2s;
}

.patient-row:hover {
  background: #f3f8fc !important;
}

.pm-add-overlay{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
 background: rgba(87, 87, 87, 0.25) !important;
  backdrop-filter:blur(6px);
  -webkit-backdrop-filter:blur(6px);
  z-index:99999;
}

.pm-add-modal{
  width:320px;
  background:#fff;
  border-radius:16px;
  padding:18px;
  position:relative;
  animation:pmAddPopup .25s ease;
  box-shadow:0 12px 35px rgba(0,0,0,.2);
}

@keyframes pmAddPopup{
  from{
    opacity:0;
    transform:scale(.9);
  }
  to{
    opacity:1;
    transform:scale(1);
  }
}

.visit-close-btn,
.pm-add-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 28px;
  height: 28px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background: #0383C7;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.visit-close-btn svg,
.pm-add-close svg{
  font-size: 13px;
  display: block;
}

.pm-add-modal h3{
  text-align:center;
  font-size:16px;
  margin-bottom:14px;
  color:#222;
}

.pm-add-modal h4{
  margin:10px 0;
  font-size:12px;
  color:#444;
}

.pm-add-form{
  display:flex;
  flex-direction:column;
}

.pm-add-form label{
  font-size:11px;
  color:#666;
  margin-bottom:4px;
  margin-top:8px;
}


.pm-add-form input,
.pm-add-form select{
  width:100%;
  height:38px;

  border:1.5px solid #9FD8EF;
  border-radius:20px;

  padding:0 14px;

  font-size:12px;
  color:#374856;

  outline:none;

  /* Light Blue Background */
  background:#EAF8FF;

  transition:.25s ease;
}

/* Placeholder */

.pm-add-form input::placeholder{
  color:#8FA2AD;
}

/* Focus */

.pm-add-form input:focus,
.pm-add-form select:focus{
  border-color:#0383C7;
  background:#F4FCFF;
  box-shadow:0 0 0 3px rgba(3,131,199,.12);
}

/* Select */

.pm-add-form select{
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;

  height:38px;
  padding:0 40px 0 14px;

  background-color:#EAF8FF;

  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");

  background-repeat:no-repeat;
  background-position:right 14px center;
  background-size:12px;
}
.delete-icon-circle svg{
  color:#fff !important;
  fill:#fff !important;
  font-size:28px;
}
.pm-add-btn{
  width:100%;
  height:40px;
  margin-top:16px;
  border:none;
  border-radius:22px;
  background:#0383C7;
  color:#fff;
  font-size:13px;
  cursor:pointer;
}

.pm-add-btn:hover{
  background:#0272ad;
}
