.payment-title{
  font-size:22px;
  font-weight:600;
  color:#374856;
  margin-bottom:20px;
}

/* Container - Dashboard jaisa */
.payment-cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
  margin-bottom:20px;

  background:transparent;
  border:none;
}

/* Individual Cards */
.payment-card{
  background:#0383C733;
  border:1px solid #0383C7;
  border-radius:15px;

  padding:25px;
  text-align:center;

  min-height:130px;
  /* width: 300px; */

  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* Amount */
.payment-card h3{
  font-size:32px;
  font-weight:700;
  color:#374856;
  margin:0 0 10px;
}

/* Label */
.payment-card p{
  font-size:14px;
  color:#666;
  margin:0;
}

.payment-table-box {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.payment-table-box h4 {
  margin-bottom: 12px;
  color: #555;
  font-size: 14px;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
}

.payment-table th {
  text-align: left;
  padding: 10px;
  font-size: 12px;
  color: #666;
}

.payment-table td {
  padding: 10px;
  border-top: 1px solid #eee;
  font-size: 12px;
}

.paid-badge {
  background: #2f3942;
  color: white;
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 10px;
}
.revenue-box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 720px;
  margin-top: 15px;
}

.revenue-box h4 {
  font-size: 18px;
  font-weight: 600;
  color: #374856;
  margin-bottom: 20px;
}

.chart-wrapper {
  display: flex;
  gap: 10px;
}

.y-axis {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
}

.revenue-chart {
  flex: 1;
  height: 280px;
  position: relative;

  border-left: 2px solid #666;
  border-bottom: 2px solid #666;

  background-image:
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 140px,
      #d9d9d9 140px,
      #d9d9d9 142px
    );

  background-size: 100% 100%;
}

.grid-line {
  position: absolute;
  width: 100%;
  border-top: 1px dashed #d9d9d9;
}

.grid-line:nth-child(1) {
  top: 20%;
}

.grid-line:nth-child(2) {
  top: 40%;
}

.grid-line:nth-child(3) {
  top: 60%;
}

.grid-line:nth-child(4) {
  top: 80%;
}

.bars {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;

  height: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.chart-bar {
  width: 80px;
  background: #3f5061;
}

.bar1 {
  height: 155px;
}

.bar2 {
  height: 130px;
}

.bar3 {
  height: 180px;
}

.bar4 {
  height: 150px;
}

.bar5 {
  height: 220px;
}

@media (max-width:1024px){
  .payment-cards{
    grid-template-columns:repeat(2,1fr);
  }
}

@media (max-width:768px){
  .payment-cards{
    grid-template-columns:1fr;
  }

  .payment-card{
    min-height:110px;
  }

  .payment-card h3{
    font-size:28px;
  }
}